/*cadastro//*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  background-image: url(../img/abackground.webp);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 70%;
  background-position: center;
}

.h1 {
  text-align: center;
  padding: 5px;
}

#pass {
  padding-right: 20px;
}

.olho {
  left: 58.6em;
  padding-top: 1.58em;
  cursor: pointer;
  position: absolute;
  width: 37px;
}

.form {
  height: 45em;
  width: 30em;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.form .inputs label {
  font-size: 20px;
  font-weight: 400;
}

.form .inputs input {
  width: 350px;
  height: 35px;
  border-radius: 15px;
  font-size: 17px;
  padding-left: 5px;
}

.form .inputs input::placeholder {
  padding-left: 4px;
}

.form .inputs input:focus {
  outline: none;
}

.text-center {
  font-size: 19px;
  text-align: center;
}

.form .btn-submit {
  background-color: rgb(51, 31, 15);
  border: none;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  height: 5rem;
  width: 11.5rem;
  margin-top: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.form .btn-submit:hover {
  background: rgb(94, 66, 47);
  transition: 0.3s;
  border-radius: 20px;
}

.form .btn-submit:focus {
  outline: none;
}