@media (max-width:425px) {
	.download a {
		display: block
	}
	.top {
		background-image: url(../img/background.webp)
	}
	#logo {
		display: none;
	}
	#logo-mobile {
		margin: 0 auto;
		display: inline;
		width: 150px;
	}
	.box {
		display: block
	}
	.content-box {
		width: 100%;
		margin: 10px auto;
	}
	.content {
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.checkbtn {
		display: flex;
		z-index: 2.0;
		background: rgba(0, 0, 0, 0.3);
		padding: 10px;
		border-radius: 0 0 2rem 2rem;
	}
	nav ul {
		z-index: 2.0;
		position: fixed;
		width: 50%;
		height: 100vh;
		background: #4b2e28;
		border-radius: 0 2rem 2rem 0;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
	}
	#check:checked~ul {
		left: 0;
	}
}

@media (max-width:425px) {
	.container {
		width: 100%;
	}
	.body {
		background-image: url(../img/abackground.webp);
		;
	}
	.row {
		width: 100%;
	}
}