.header
{
    width:100vw;
    height:6.5vh;
     background-color:#181818;
     -webkit-box-shadow: 0px 31px 13px 0px rgba(0,0,0,0.31);
     -moz-box-shadow: 0px 31px 13px 0px rgba(0,0,0,0.31);
     box-shadow: 0px 31px 13px 0px rgba(0,0,0,0.31);}

*, html, body 
{
    margin:0;

    padding:0;
    overflow-x: hidden;
    font-family:roboto;
}

body{overflow-y:hidden}

#profile {margin-top:2vh;}

.body{display:flex; text-align:center; width:100vw; height:93.5vh;background-image:url(../img/backgroundconfigs1.webp); background-size:cover; z-index: 3;}

.background-block{ width:50vw; height:100%; background-size:auto; background-repeat:no-repeat; display:flex; align-items:center; justify-content:center;}

.content{height:93vh;background:#f5f5f5;width:50vw; text-align:center;border-radius:10vh 0 0 10vh; animation-name:animacao; animation-duration: 2s}

 .line {width:25vw;}

.configcontainer{display:flex; height:6.5vh; width:100vw; align-items:center; justify-content:center;}

.title {height:4vh;}

.optionconfig {width:25vw; display:flex; height:6.5vh; justify-content:center; align-items:center; color:white; transition:.3s;}

.optionconfig:hover{background-color:#cc0000}
.configcontainer p {font-size:1.2rem; font-family:roboto;}

i{font-size:1.5rem;}

a{text-decoration:none;}
 
.orderlist {width:35vw; margin:1vh auto;}

.title{color:#6e6e6e; font-size:1.2rem; font-weight: 600; margin: 2vh auto; text-align:center}
table {margin:1vh auto; color:#6e6e6e; }
table {
    font-family: roboto;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.titlepage {color:white; padding:5vw; background-color:#00000052; border-radius:2vw; animation-name:animacao2; animation-duration: 4s;backdrop-filter:blur(3px);}

.footer { bottom:0; width:50vw; height:10vh; background-color:pink}


.headercontent{width:100%; border-bottom:1px solid #272626; font-weight:600; font-size:1.5rem; color:#641515; padding:1vw 0; text-align:center; margin-bottom:4vh;}






.complnum {width:20vw; display:flex; justify-content:space-between; align-items:center; margin-bottom:2vh; margin:0 auto}


header {height:6vh; width:100%; display:flex; align-items:center; justify-content:center;}

@keyframes animacao { from{animation-delay:1s;opacity:0; margin-left: 20vw} to {opacity:100; margin-left:0}}

@keyframes animacao2 { from{opacity:0; translateX:-10vw} to {opacity:100; translateX:0}}

@keyframes animacao3 {from{opacity:0; translateX:10vw} to {opacity:100; translateX:0}}



.editcontent{ width:20vw; margin-top:5vh; text-align:center; animation-name:animacao3; animation-duration:4s}

.round {width:50vw; height:6vh; background-color:#9e3e3e ;border-radius:20vh 20vh 0 0}

.cep{justify-content:space-between;align-items:center; width:20vw; display:flex; margin:1vh auto}

h3 {margin:3vh 0}
hr {width: 40vw; margin:0 auto}



.loading {animation-name:loading; animation-duration:2s;height:0.5vh; width:20vw; background-color:red; position:absolute; top:99.5vh; opacity:0}

.borda { width:100vw; background-color:#cc0000; position:absolute; top:93vh; height:0.5vh; -webkit-box-shadow: 0px 0px 17px 18px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 17px 18px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 17px 18px rgba(0,0,0,0.21);
    }

@keyframes loading { from{opacity:0; right:100vw} to {right:-20vw; opacity:100} from{opacity:0; right:100vw}}


#fundo{width:100vw; height:100vh; position:absolute; top:0; background:rgba(0,0,0,0.8)}
#mostrarDiv {display:flex; align-items:center; justify-content:center;}
.Teste {width:20vw; height:40vh; background-color:white; position:absolute; left:40vw; top:30vh; border-radius:3vw;}




#search {width:20vw; padding:1vh; border-radius:1vw}
button{width:8vw; margin-left:2vw; border-radius:2vh; padding:1vh;}




.caixa {width: 50vw; height:70vh; background-color:white; position:absolute; left:25vw; top:15vh; border-radius: 5vh 0 0 5vh;}

.caixaendereco {width: 20vw; height:70vh; background-color:white; position:absolute; right:2vw; top:15vh; border-radius: 5vh;}

.fundo {cursor:pointer; background-color:rgba(58, 4, 4, 0.721); width:100vw; height:100vh; position:absolute; top:0}

.cancela {cursor:pointer; margin-right:1vw; border-radius:100%; transition:.3s; width:1.5vw}

.cancela:hover {background-color:#dddddd}

img {width:1.5vw; }

.titlead {margin-left: 1vw}



.caixaheader {width:50vw; height:10vh; border-bottom:1px solid #9c9b9b; display:flex; align-items:center; justify-content:space-between;}
.caixaheadere {width:20vw; height:10vh; border-bottom:1px solid #9c9b9b; display:flex; align-items:center; justify-content:space-between;}

.info {display:flex; padding:0 5vw; justify-content:space-between; align-items:center; margin:2vh 0}
.infoe {display:flex; padding:0 1vw; justify-content:space-between; align-items:center; margin:2vh 0}

.caixaandamento{background-color:#f5e1aa; color:#d18800; margin-left:1vw; padding:1vh; border-radius:1vh;}


.buttonendereco {cursor:pointer;background-color:#f3c2c2; color:#641515; padding:1vh; border-radius:1vh}





@media (min-width:601px){
::-webkit-scrollbar {
    width: 0.5vw;
    height: 10px;
   }
   ::-webkit-scrollbar-thumb {
    background: #cc0000;
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #b30404;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
   }}
@media (max-width:600px) 
{
    .optionconfig p {display:none;}

    .background-block{width:100vw; height:20vh;}
    .content {width:100vw;height:73.5vh; border-radius:5vh 5vh 0 0; animation-name:animacao4; animation-direction:initial;}
    .complnum {width: 95vw;}
    .editcontent {width:95vw}

    .body {display:block}

    @keyframes animacao4 { from{opacity:0;} to {opacity:100;}}

    .caixa {width:100vw; left:0; height:80vh; font-size:0.8rem; }

    .cancela {width:5vh;}

    .cancela img {width:3vh}

    .cep {width:95vw}

    .button{width:95vw}

    .caixaheader {width:100vw}

    .orderlist {width:95vw}
    hr {width: 90vw}

    table {font-size: 0.8rem}


    button {width:30vw}

    #going, #start, #all, #ended {margin:0 0.1vw}
    .caixaendereco {left:0; width:100vw; -webkit-box-shadow: 0px 0px 86px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 86px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 86px 0px rgba(0,0,0,0.75);}
    .caixaheadere {width:100vw}

  
}






.product {transition:.2s;display:flex; justify-content:space-between; width:80%; margin:2vh auto; background-color:#dfdfdf; align-items:center; padding:vh; background-color:#e2e2e2; border-radius:2vh}

.product img {width:7vw;transition:.2s}

.product .details {color:#424242; display:flex; align-items:center; font-size:0.6rem}

.product .product_name {display:flex; align-items:center;}

.product:hover img {width:8vw; }

.product:hover {background-color:#cecece}



.pen {cursor:pointer;}


.caixa p{color:#6e6e6e; font-size:1.1rem; text-align:center; margin: 10px}

.imgedit img {border-radius: 2vh; width:8vw}



.imgedit {margin:0 auto; display:flex; width:100%; justify-content:center; align-items:center;}

.select {text-align:center;border:1px solid #808080; width:30vw; margin:0 auto; padding:1vh; border-radius:1vh}

.select select {padding:0.5vw; border-radius:0.5vw}

.colors {text-align:center}
input[type="date"] {padding:0.5vw; border-radius:0.5vw}

.preco {width:30vw; margin:2vh auto; min-height:10vh; transition:.1s; padding:1vh; border-radius:1vh; text-align:center; border:1px solid #808080
  ;}

.preco input {padding:0.5vw; width:5vw; margin:0 0 0 2vw;}

.preco select {padding:0.5vw; border-radius:0.5vw; margin-bottom:2vh}

input[type="submit"] {padding:0.5vw; border-radius:0.5vw; width:10vw}
.nameproduto {border: 1px solid #808080; width:30vw; MIN-height:10vh; margin:2vh auto; text-align:center; border-radius:1vh; padding:1vh}
.nameproduto input[type="text"] {width:20vw; padding:0.5vh; border-radius: 0.5vw; font-size:1.1rem;}
.nameproduto img{width:8vw; border-radius:2vw}

.desc {border: 1px solid #808080; width:30vw; MIN-height:10vh; margin:2vh auto; text-align:center; border-radius:1vh; padding:1vh}
.inputstyle{resize:none; border-radius:1vh; padding:1vh; width:20vw; margin:1vh 0}

#view img {width:10vw;}

.info {display:flex; margin:2vw auto; width:30vw; border-radius:3vh; padding:0 ; background-color:#dfdfdf}

.infoname{margin-right:3vw}

.adinfo{border:1px solid #808080}
#view i {font-size:0.8rem; margin-top:0.5vh;}