* {
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0px;
    font-family: 'Lora', serif;
    text-decoration: none;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
   background-image: url(../img/abackground.webp);
   background-size: 80%;
   background-position: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0 auto;
    font-family: PT Sans;
}

nav {
    /** Define Tamanho da NAVBAR **/
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
  }
  
  nav ul li {
    /** Faz com que os links na NAVBAR fiquem um do lado do outro**/
    display: inline-block;
    line-height: 56px;
    margin-left: 50%;
    margin: 0 5px;
    align-items: center;
  }
  
  nav ul li a {
    /**Define Estilo dos links da NAVBAR**/
    color: white;
    font-size: 17px;
    padding: 15px;
    line-height: 56px;
    border-radius: 2rem;
    text-transform: uppercase;
  }
  
  a.active, a:hover {
    /**Faz com que ao passar o mouse por cima a cor de fundo do link mude, tambem em link ativo na NAVBAR**/
    background: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  

.box {
    background: #fff;
    padding: 100px 100px 80px;
    max-width: 90% !important;
    margin: 0 auto;
    margin-bottom: 5%;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    font: 46px Museo;
    color: rgb(34, 19, 10);
    text-shadow: 1px 2px #e5bfb0;
    text-transform: uppercase;
    font-weight: 100;
    margin: 10px 0 32px 0;
}

/*#4a2f21
/*
/* .box h1 { 
        padding-left: 50px;
        margin-bottom: 60px !important;
    }
    /*/

.content {
    display: flex;

}

.content h2 {
    font-size: 3em;
    color: #4a2f21;
    text-shadow: 1px 2px #e5bfb0;
    text-transform: uppercase;
    line-height: 100% !important;
    font-family: Museo;
    padding-left: 25px;
    margin-bottom: 60px !important;
}

.lore {
    width: 40%;
}

.lore .text {
           
}

.img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20%;
    text-align: center;
}

.img img {
    animation: animacao;
    animation-duration: 2s;
}

.img:hover {
    animation-duration: 3s;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 10px;
}

@keyframes animacao {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
     footer {
        /** Tamanho e alinhamento das colunas do rodapé**/
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin-top: auto;
        background-image: linear-gradient(to bottom right, #4e3030, #a0785d);
        padding: 2rem;
      }
      
      .footer-coluna {
        /**Tamanho das colunas do footer**/
        margin: 0 auto;
        width: 33%;
        text-align: center;
        color: white;
      }
      
      .footer-coluna img {
        /**Tamanho da imagem do footer**/
        width: min(10vw, 150px);
      }
      
      .footer-coluna a {
        /**Tamanho dos links do footer**/
        text-decoration: none;
        color: black;
        border-radius: 1rem;
        background-color: white;
        display: block;
        padding: 5px;
      }
      
      .footer-coluna li {
        /**Distancia vertical dos links da coluna**/
        margin-top: 10px;
      
      }

      @media (max-width: 900px){

   .content {
          justify-content: center;
      }

      .content h2 {
        text-align: center;
        padding-left: 0px;
      }

      .lore {
        width: 300%;
    }
   .img{
   display: none;
   }
      }
      .lore {
        width: 300%;
    }


@media (max-width: 425px) {
  * {
    box-sizing: unset;
}

    body{
        background-size: 100%;

    }
    nav ul li {
    margin: 0 5px;
  }

  nav ul li a{
    padding: 2px;
  }

   .center{   
    font: 25px Museo;
    margin: 0px 0 0px 0;
   }

  .box{
    padding: 40px 80px 80px;
    margin-bottom: 0%;
}

  .content {
    justify-content: center;
}
  .content h2 {
    font-size: 2.8em;
    padding-right: 20px;
  }
  .lore {
    width: 300%;
}

.img{
  max-width: 3%;
  text-align: center;
  display: none;
  margin: 0;
  padding: 0;
}

footer {
  /** Tamanho e alinhamento das colunas do rodapé**/
  width: 92.5%;
  padding: 1rem;
}

}

          
@media (max-width: 375px){
      footer {
       
        width: 91.5%;
        padding: 1rem;
      }
        }
    
@media (max-width: 320px){
  footer {
    width: 90%;
    padding: 1rem;
  }
    }







































/**
@media (max-width:900px){
    
.box{
    background: rgb(255, 255, 255);
    padding: 40px 80px 80px;
    max-width: 90% !important;
    margin: 0 auto;
    margin-bottom: 5%;
  
    
}

.img{
    max-width: 3%;
    text-align: center;
    display: none;
    margin: 0;
    padding: 0;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    font: 25px Museo;
    color: rgb(34, 19, 10);
    text-shadow: 1px 2px #e5bfb0;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0px 0 0px 0;
}
.content h2 {
    font-size: 2.5em;
   padding-left: 3px;
}

}
//**